@charset "UTF-8";

.q2 {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ECF1F2;
}
.q2__text {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}
.q2__thumb {
  margin-bottom: 10px;
}
.q2__thumb > img {
  vertical-align: bottom;
}
.q2__thumb.is-left {
  float: left;
  margin-right: 20px;
}
.q2__thumb.is-right {
  float: right;
  margin-left: 20px;
}
