@charset "UTF-8";

.q3__contents {
  width: 100%;
  border: 1px solid #dedede;
  table-layout: fixed;
}
.q3__contents th,
.q3__contents td {
  padding: 10px;
  border: 1px solid #dedede;
  vertical-align: middle;
}

.q3__contents th {
  background-color: #24a;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}
.q3__contents td {
  line-height: 22px;
  text-align: center;
}

.q3__contents > tbody > tr:nth-child(even) {
  background-color: #ECF1F2;
}
.q3__contents > tbody > tr:last-child {
  border-top: 2px dashed #000;
}

